*{
	padding: 0px;
	margin: 0px;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
.header{
	width: 100%;
	height: 130px;
	background: white;
	position: absolute;
	z-index: 2;
}
.cover{
	width: 1180px;
	height: 130px;
	margin:0 auto;
	float: left;
	position: absolute;
	left: 170px;
}
.lfone{
	width: 170px;
	height: 130px;
	float: left;
}
.small{
	font-size: 12px;
	color: grey;
	margin-bottom: 20px;
}
.cenone{
	width: 1010px;
	height: 130px;
	float: right;
}
.top_qq{
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 220px;
	margin-right: 18px;
	background: url(img/common_min.png) 0 -31px;
}
.top_wechat{
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-right: 18px;
	background: url(img/common_min.png) 0 -53px;
}
.top_weibo{
	width: 19px;
	height: 19px;
	display: inline-block;
	margin-right: 18px;
	background: url(img/common_min.png) 0 -75px;
}
.lo{
	font-size: 12px;
	color: grey;
	margin-right: 1px;
	margin-right: 18px;
}
.infor{
	font-size: 12px;
	color: grey;
	width: 24px;
	padding-left: 18px;
	margin-right: 18px;
	display: inline-block;
	background: url(img/common_min.png) -4px -113px no-repeat;
}
.dingdan{
	font-size: 12px;
	color: grey;
	padding-left: 17px;
	margin-right: 18px;
	display: inline-block;
	background: url(img/dingdan.jpg) no-repeat 0 2px ;
}
.phone{
	font-size: 12px;
	color: grey;
	padding-left: 9px;
	margin-right: 18px;
	display: inline-block;
	background: url(img/tp-my-phone.png) no-repeat 0 2px ;
}
.che{
	font-size: 12px;
	color: grey;
	padding-left: 20px;
	margin-right: 18px;
	display: inline-block;
	background: url(img/gouwuche.jpg) no-repeat 0 2px ;
}
.search{
	width: 500px;
	height: 31px;
	margin-top: 30px;
	float: left;
	border: 2px solid #fe6c00;
}
.sbutton{
	width: 85px;
	height: 35px;
	margin-top: 30px;
	margin-right: 88px;
	background: #fe6c00;
	text-align: center;
	float: left;
	border: 1px solid #fe6c00;
}
.question{
	width: 85px;
	height: 38px;
	border: 1px solid grey;
	float: right;
	margin-top: 30px;
	display: inline-block;
}
.tu{
	margin-left: 30px;
}
.to{
	width: 19px;
	height: 19px;
}
.bo{
	font-size: 12px;
	color: grey;
}
.wen{
	display: block;
	text-align: center;
	width: 85px;
	height: 26px;
	padding-top: 12px;
	font-size: 14px;
	color: white;
	background: #ff4d04;
}
.lan{
	float: left;
	width: 670px;
	margin-left: 5px;
}
.red{
	display: inline-block;
	font-size: 13px;
	color: red;
}
.hei{
	display: inline-block;
	font-size: 13px;
	color: black;
}
.hui{
	display: inline-block;
	font-size: 13px;
	color: grey;
}
.shuxian{
	color: grey;
	font-size: 13px;
	margin-left: 1px;
	margin-right: 1px;
}
.fenlei{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}
.allgood{
	width: 170px;
	height: 30px;
	display: block;
	padding-top: 10px;
	background: #ff4d04;
	color: white;
	text-align: center;
	float: left;
}
.cla{
	width: 100px;
	height: 30px;
	display: block;
	padding-top: 10px;
	text-align: center;
	float: left;
	color: black;;
	
}
.cla:hover{
	width: 100px;
	height: 30px;
	padding-top: 10px;
	color: #ff4d04;
	text-align: center;
	float: left;
}
.cla:active{
	width: 100px;
	height: 30px;
	padding-top: 10px;
	color: #ff4d04;
	text-align: center;
	float: left;
}
.jiang{
	width: 100px;
	height: 30px;
	display: block;
	padding-top: 10px;
	text-align: center;
	float: left;
	color: black;
	background: url(img/hot.gif) no-repeat right 0;
}
.jiang:hover{
	width: 100px;
	height: 30px;
	padding-top: 10px;
	color: #ff4d04;
	text-align: center;
	float: left;
}
.jiang:active{
	width: 100px;
	height: 30px;
	padding-top: 10px;
	color: #ff4d04;
	text-align: center;
	float: left;
}
.key{
	width: 1180px;
	height: 546px;
	margin:0 auto;
	background: white;
}
.left{
	width: 170px;
	height: 546px;
	float: left;
}
.ll{
	width: 24px;
	height: 424px;
	background: #4c4c4a;
	color: #ff4d04;
	float: left;
}
.lr{
	width: 145px;
	height: 424px;
	float: left;
}
.lb{
	width: 163px;
	height: 125px;
	border-top: 1px solid #ff4d04;
	float: left;
	padding-left: 7px;
}
.wenhao{
	display: inline-block;
	width: 160px;
	height: 22px;
	background: url(img/sort-icon-qa.png) no-repeat 0 0;
	float: left;
	color: black;
	font-size: 14px;
	margin-top: 12px;
}
.whatserve{
	display: inline-block;
	width: 160px;
	height: 22px;
	background: url(img/sort-icon-qa.png) no-repeat 0 -60px;
	float: left;
	color: black;
	font-size: 14px;
	margin-top: 16px;
}
.howserve{
	display: inline-block;
	width: 160px;
	height: 22px;
	background: url(img/sort-icon-qa.png) no-repeat 0 -120px;
	float: left;
	color: black;
	font-size: 14px;
	margin-top: 16px;
}
td{
	width: 36px;
	height: 31px;
	text-align: center;
}
.zhongjian{
	width: 800px;
	height: 545px;
	display: inline-block;
	float: left;
}
.lunbo{
	width: 800px;
	height: 362px;
	border-right: 1px solid #ff4d04;
	border-bottom: 1px solid #ff4d04;
	float: left;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.slider{
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide{
	width: 800px;
	overflow: hidden;
	float: left;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 150px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{
	float: left;
	left: 30px;
	font-size: 50px;
	margin-top: 140px;
}
#right{
	float: right;
	right: 30px;
	font-size: 50px;
	margin-top: 140px;
}
.nav{
	position: absolute;
	left: 300px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: red;
}
.xiabian{
	width: 800px;
	height: 185px;
	float: left;
}
.tu1{
	width: 200px;
	height: 185px;
	display: inline;
	float: left;
}
.right{
	width: 209px;
	height: 546px;
	float: left;
	border-left: 1px solid #ff4d04;
	
}
.top_r{
	width: 190px;
	height: 30px;
	padding-left: 20px;
	padding-top:14px; 
	border-bottom: 1px solid grey;
}
.bang{
	margin-left: 10px;
	margin-right:70px;
	color: #ff4d04;
	font-size: 14px;
}
.cen_r{
	width: 190px;
	height: 330px;
	color:#ff4d04;
	border-bottom: 1px solid #ebeae7;
	overflow: hidden;
	float: left;
    text-indent: 1em;
    overflow: hidden;
    position: relative;
    
}
.gonggao{
	overflow: hidden;
	font-size: 13px;
	width: 190px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	display: block;
}
#scroll{
	width: 190px;
	height: 330px;
	position: absolute;
	top: 0px;
}
.uu{
	display: block;
	width: 190px;
	height: 660px;
	padding: 0px 0px 0px 10px;
	border-bottom: 1px solid #ebeae7;
}
.bottom_r{
	width: 190px;
	height: 175px;
	padding-left: 20px;
	padding-top: 5px;
	border-top: 1px solid grey;
}
.huafei{
	font-size: 12px;
	margin-left: 12px;
	margin-right: 10px;
}
.zuan{
	font-size: 12px;
	color: #ff4d04;
}
.phone-number{
	width: 122px;
	height: 24px;
	margin-top: 10px;
	margin-bottom: 5px;
}
#select{
	width: 60px;
	height: 25px;
}
#price-phone{
	color: #ff4d04;
}
.chongzhi{
	width: 177px;
	height: 25px;
	border-radius: 3px;
	background: #ff4d04;
	color: white;
	margin-top: 10px;
	border: 1px solid #ff4d04;
}
.more{
	width:1180px;
	height: 180px;
	background: #f8f7f6;
	margin: 0 auto;
}
.logo{
	width: 148px;
	height: 152px;
	padding-top:28px; 
	float: left;
}
.haoma{
	font-size: 18px;
	color: #ff4d04;
	margin-bottom: 10px;
}
.kefu{
	font-size: 14px;
}
.youxiang{
	font-size: 14px;
}
.detail{
	width: 1032px;
	height: 180px;
	float: left;
	border-bottom: 1px solid grey;
}
.one{
	width: 68px;
	height: 145px;
	margin-left: 80px;
	margin-top: 35px;
	float: left;
}
.two{
	width: 68px;
	height: 145px;
	margin-left: 62px;
	margin-top: 35px;
	float: left;
}
.tt{
	font-size: 14px;
	color: black;
}
.tb{
	font-size: 12px;
	color: grey;
}
.ma{
	margin-left: 80px;
	margin-top: 20px;
}
.other{
	width: 1180px;
	height: 165px;
	padding-top: 20px;
	margin: 0 auto;
}
.guanyu{
	width: 660px;
	height: 20px;
	margin-left: 240px;
	color: grey;
	font-size: 16px;
	float: left;
}
.english{
	font-size: 12px;
	color: #9a9791;
	margin-left: 330px;
	float: left;
	margin-top: 10px;
}
.china{
	font-size: 12px;
	color: #9a9791;
	margin-left: 140px;
	float: left;
	margin-top: 10px;
}
.permit{
	font-size: 12px;
	color: #9a9791;
	margin-left: 500px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bott{
	width: 790px;
	height:60px;
	float: left;
	margin-left: 200px;
}
.bot1{
	float: left;
	display: inline-block;
	margin-top: 8px;
}
.bot2{
	float: left;
	display: inline-block;
	margin-top: 18px;
	margin-left: 5px;
}

.bot3{
	float: left;
	display: inline-block;
	margin-top: 15px;
	margin-left: 5px;
}
.bot4{
	float: left;
	display: inline-block;
	margin-top: 10px;
	margin-left: 5px;
}
.bot5{
	float: left;
	display: inline-block;
	margin-top: 17px;
	margin-left: 5px;
}
.bot6{
	float: left;
	display: inline-block;
	margin-top: 17px;
	margin-left: 5px;
}
.bot7{
	float: left;
	display: inline-block;
	margin-top: 8px;
	margin-left: 5px;
}
#rone{
	width: 45px;
	height: 105px;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 95px;
}
.one-border{
	float: left;
}
.two-border{
	float: left;
}
#rtwo{
	width: 45px;
	height: 140px;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 205px;
	background: #ff9260;
}
.five-border{
	float: left;
}
.wei{
	width: 50px;
	height: 20px;
	float: left;
	font-size: 14px;
	margin:30px 0 20px 10px;
}
.yi{
	text-align: center;
	width: 35px;
	height: 20px;
	float: left;
	border: 1px solid white;
	color: white;
	margin-left: 10px;
	font-size: 14px;
}
#rthree{
	width: 45px;
	height: 150px;
	overflow: hidden;
	background: #ff9260;
	position: fixed;
	right: 0;
	top: 350px;
}
.three-border{
	float: left;
}
.four-border{
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
#rfour{
	width: 45px;
	height: 140px;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 505px;
}
